@using Project.EF;
@model Driver
@{

    ViewBag.Title = "UpdateDriver";
}

<main class="h-[90vh]">
    <div class="h-full flex justify-center items-center">
        <form action="" method="post" class="grid grid-cols-3 gap-5">
            <div class="col-span-3">
                <h3 class="text-center text-3xl">Update</h3>
            </div>

            <div class="flex flex-col">
                <label for="first_name">First name</label>
                <input class="rounded-input" type="text" name="first_name" id="first_name" placeholder="First name" value="@Model.First_name" />
            </div>
            <div class="flex flex-col">
                <label for="last_name">Last name</label>
                <input class="rounded-input" type="text" name="last_name" id="last_name" placeholder="Last name" value="@Model.Last_name" />
            </div>
            <div class="flex flex-col">
                <label for="email">Email</label>
                <input class="rounded-input" type="email" name="email" id="email" placeholder="abc@gmail.com" value="@Model.Email" />
            </div>
            <div class="flex flex-col">
                <label for="phone">Phone Number</label>
                <input class="rounded-input" type="number" name="phone" id="phone" placeholder="01-xxxxxxxxx" value="@Model.Phone" />
            </div>
            <div class="flex flex-col">
                <label for="photo">Photo</label>
                <img src="~/uploads/@Model.Photo" width="100" />
                <input class="text-white" type="file" name="photo" id="photo" />
            </div>
            <div class="flex flex-col">
                <label for="gender">Sex</label>
                <input class="rounded-input" type="radio" name="gender" id="gender" value="Male" @(Model.Gender == "Male" ? "checked" : "") />
                <label for="gender">Male</label>
                <input class="rounded-input" type="radio" name="gender" id="gender" value="Female" @(Model.Gender == "Female" ? "checked" : "") />
                <label for="gender">Female</label>
            </div>
            <div class="flex flex-col">
                <label for="Date_of_birth">Date of Birth</label>
                <input class="rounded-input" type="date" name="Date_of_birth" id="Date_of_birth" placeholder="dd/mm/yyyy" value="@Model.Date_of_birth" />
            </div>
            <div class="flex flex-col">
                <label for="age">Age</label>
                <input class="rounded-input" type="number" name="age" id="age" placeholder="Age" value="@Model.Age" />
            </div>
            <div class="flex flex-col">
                <label for="bloodgroup">Blood Group</label>
                <select name="Blood_group" id="bloodG" class="text-dark">
                    <option value="">Please choose an option</option>
                    <option value="A+" @(Model.Blood_group == "A+" ? "selected" : "")>A+</option>
                    <option value="O+" @(Model.Blood_group == "O+" ? "selected" : "")>O+</option>
                    <option value="B+" @(Model.Blood_group == "B+" ? "selected" : "")>B+</option>
                    <option value="AB+" @(Model.Blood_group == "AB+" ? "selected" : "")>AB+</option>
                    <option value="A-" @(Model.Blood_group == "A-" ? "selected" : "")>A-</option>
                    <option value="O-" @(Model.Blood_group == "O-" ? "selected" : "")>O-</option>
                    <option value="B-" @(Model.Blood_group == "B-" ? "selected" : "")>B-</option>
                    <option value="AB-" @(Model.Blood_group == "AB-" ? "selected" : "")>AB-</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label for="father_name">Father's name</label>
                <input class="rounded-input" type="text" name="father_name" id="father_name" placeholder="Father's Name" value="@Model.Father_name" />
            </div>
            <div class="flex flex-col">
                <label for="address">Address</label>
                <input class="rounded-input" type="text" name="address" id="address" placeholder="Address" value="@Model.Address" />
            </div>
            <div class="flex flex-col">
                <label for="driving_license_number">Driving License Number</label>
                <p>@Model.Driving_license_number</p>
            </div>
            <div class="flex flex-col">
                <label for="category">Category</label>
                <p>@Model.Category</p>
            </div>
            <div class="flex flex-col">
                <label for="Date_of_issue">Date of Issue</label>
                <p>@Model.Date_of_issue</p>
            </div>
            <div class="flex flex-col">
                <label for="validity">Validity</label>
                <p>@Model.Validity</p>
            </div>
            <div class="mx-auto">
                <input class="bg-[#337ec4] px-4 py-2 rounded-2xl hover:bg-[#348fe4] transition-colors duration-200" type="submit" value="Update">
            </div>
            <div>
                <p style="color:red;">@ViewBag.Message</p>
            </div>
        </form>
    </div>
</main>

